* {
    padding: 0;
    margin: 0;
}
#header {
    background-color: #8d2c1f;
    padding-top: 10px;
}
#header .logo {
    display: flex;
    flex-direction: row;
    color: white;
    align-items:center;
    justify-content: space-around;
}
#header .logo img {
    width: 100px;
    height: 100px;
}
#header .menu {
    color: rgb(245, 243, 243);
    padding-bottom: 15px;
    background-color:white;
    font-family: 'Anton', sans-serif;
}
#header .menu #barra ul {
    font-style: normal;
    font-size: 170%;
    font-family: 'Anton', sans-serif;
    list-style-type: none;
    color: black;
}
#header .menu #barra li {
    display: inline-block;
    width: 19%;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
}
ul li a:hover {
    background-color: #bb7338e3;
    padding: 4px;
}
ul li a:link {
    color: rgb(122, 31, 31);
}
ul li a:visited {
    color: rgb(122, 31, 31);
}
.titulos {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}
.principal {
    background-color: #bb7338e3;
    color: white;
    text-align: center;
    height: 1500px;
    width: auto;
    border: 5px solid #5200;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
}
/* Home */
.principal #obrasGaleria {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    padding: 50px;
    border: solid black;
}
.principal #obrasGaleria img {
    height: 300px;
    width: auto;
}
.principal .oferta {
    margin-top: 50px;  
}
.principal p {
    padding-top: 5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
.principal .oferta {
    color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px 350px;
    gap: 1vw;
    grid-template-areas: "personalizado personalizado materiales"
                         "personalizado personalizado materiales"
                         "guardado guardado materiales";
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}
.principal .oferta #personalizado {
    grid-area: personalizado;
    background-color:#ee9816;
    border-top: solid 1vw black;
    border-bottom: solid 1vw black;
    border-left: solid 1vw rgb(68, 68, 68);
    border-right: solid 1vw rgb(68, 68, 68);
    max-width: 46vw;
    transform: rotate(20deg);
}
.principal .oferta #guardado {
    grid-area: guardado;
    background-color: #ee9816;
    border-top: solid 1vw black;
    border-bottom: solid 1vw black;
    border-left: solid 1vw rgb(68, 68, 68);
    border-right: solid 1vw rgb(68, 68, 68);
    max-width: 40vw;
    transform: scale(0.8,0.8);
}
.principal .oferta #materiales {
    grid-area: materiales;
    background-color: #ee9816;
    border-top: solid 1vw black;
    border-bottom: solid 1vw black;
    border-left: solid 1vw rgb(68, 68, 68);
    border-right: solid 1vw rgb(68, 68, 68);
    transform: rotate(-10deg);
}
/* Obras */
.principal #opciones {
    background-color: #ee9816;
    color: #13033f;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    border-top: solid 1vw black;
    border-bottom: solid 1vw black;
    border-left: solid 1vw rgb(68, 68, 68);
    border-right: solid 1vw rgb(68, 68, 68);
    margin-top: 5vw;
    list-style-position: inside;
}
/* Galería */
.principal#galeriaCompleta {
    height: 4000px;
    background-color: white;
    color:#13033f;
}
.marcosHechos {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-template-rows: 1fr auto 1fr;
    margin-bottom: 100px;
}
.marcosHechos img {
    width: 100%;
    height: auto;
}
.marcosHechos #detalle1 {
    grid-column: 2/4;
    grid-row: 2/4;
}
.marcosHechos #detalle2 {
    grid-column: 1/3;
    grid-row: 4/6;
}
.marcosHechos #detalle3 {
    grid-column: 2/4;
    grid-row: 7/9;
}
/* SobrePep */
.principal#sobrepep {
    background-image: url(./Logopepcolor.jpg);
    background-repeat: repeat;
    color: black;
    padding: 50px;
}
/* Contacto */
#formulario {
    background-color:#FBE6C2;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 15px;
}
#formulario #contacto {
    color: black;
    font-size: 20px;
    border-top: solid 1vw #e2d0b0; 
    border-bottom: solid 1vw black;
    border-left: solid 1vw rgb(68, 68, 68);
    border-right: solid 1vw rgb(68, 68, 68);
    background-image: linear-gradient(#FBE6C2, #F0C929, #F48B29, #AC0D0D);
    text-align: center;
    padding-bottom: 15px;
    text-decoration: underline;
    height: 400px;
    margin-top: 70px;
}
#formulario #contacto form {
    padding-top: 50px;
}
#formulario #contacto form #mensaje:focus {
    width: 170px;
    height: 100px;
    transition: height 5s, width 1s;
}
#pie {
    background-color: rgb(122, 31, 31);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
